* {
	border: 0;
	margin: 0;
	outline: none; 
	padding: 0;  
}
 
body { 
	line-height: 1;
	padding-top:50px; 
}

h1 h2 h3 h4 h5 h6 { 
	font-size: 100%;
	padding: .6em 0;
	margin: 0 15px;
}
 
ul ol {
	list-style: none;
}
 
a {
	color: black;
	text-decoration: none;
}
 
.floatLeft {
	float: left;
	padding: .5em .5em .5em 0;
}
 
.floatRight {
	float: right;
	padding: .5em 0 .5em .5em;
}

nav	{
	background-color: #352d2f;
	font-family: 'Titillium Web', sans-serif;
	min-height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.logo {
	background-color: #f63c3c;
	color: #fff;
	display: inline-block;
	margin-left: 10%;
	padding: 9px 10px 10px;
}

a.logo span:first-child {
	left:3px;
	position: relative;
	
}

.sitenav {
	display: inline-block;
	float: right;
	margin-right: 10%;
}

.sitenav li {
	display: inline-block;
	margin-right:-4px;
}

.sitenav a {
	color: #fff;	
    display: inline-block;
	padding: 16px 20px;
}

li.active a{
	border-bottom: 3px solid #fff;
}

.sitenav a:hover{
	border-bottom: 3px solid #fff;
	cursor: pointer;
}

#intro {
	background-color: #352d2f;
	color: #fff;
	font-family: 'Teko', sans-serif;
	min-height: 600px;
	position: relative;
	text-align: center;
}

#intro h1 {
	font-size: 80px;
	letter-spacing: 10px;
    margin: 0 auto;
    padding: 15% 0 5%;
    width: 60%;
}

#intro button {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	padding: 10px 15px;
}

#intro a {
	bottom: 30px;
	color: inherit;
	display: block;
	position: absolute;
	width: 100%;
}

#intro p {
	font-size: 16px;
	margin-top: 5px;
}


#explore {
	font-family: 'Teko', sans-serif;
	margin: 0 auto;
    padding: 3% 0;
    text-align: center;
    width: 60%;
}

#explore h1 {
	font-size: 30px;
    letter-spacing: 5px;
    line-height: 30px;
}

#explore button {
	background-color: #f63c3c;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	padding: 10px 15px;
}

#projects {
	color: #fff;
	font-family: 'Teko', sans-serif;
	height: 600px;
}

.main-feature {
	background-color:  #f63c3c;
	float: left;
	height: 550px;
	width: 50%;
}

.main-feature div {
	font-size: 14px;
	margin: 50% 10% 3%;
}

.main-feature .title {
	font-size: 30px;
	letter-spacing: 2px;
	margin: 0 10%;
} 

.main-feature p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	line-height: 20px;
	margin: 0 10%;
	width: 45%;
} 

.side-feature {
	background-color: #352d2f;
	float: right;
	height: 275px;
	width: 50%;
}

.side-feature:nth-child(3) {
	background-color: #30282a;
}

.side-feature div {
	font-size: 30px;
	letter-spacing: 2px;
	margin: 20% 10% 0;
}

.side-feature p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	line-height: 20px;
	margin: 0 10%;
	width: 45%;
}

.bottom-feature {
	background-color: #30282a;
	clear: both;
	height: 50px;
	padding: 10px 0;
	text-align: center;
}

.bottom-feature a{
	border-bottom: 3px solid #fff;
	color: #fff;
	font-size: 14px;
	margin: 0 auto;
	padding: 5px;
	width: 14%;
}

#info {
	background-color: #fafafa;
	font-family: 'Teko', sans-serif;
	padding: 3% 0;
}

#info div {
	display: inline-block;
	margin-left: 7%;
	width: 35%;
}

#info div:first-child {
	margin-left:10%;
}

#info h3 {
	margin-left:0;
}

#info p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
}

#info i {
	color: #f63c3c;
}

#social { 
	background-color: #fafafa;
	padding: 3% 0;
}

#social div {
	margin: 0 auto;
	width: 80%;
}

#social h2 {
	font-family: 'Teko', sans-serif;
	font-size: 30px;
	margin: 0;
}

#social h3 {
	margin: 0;
}

#social p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	margin: 0 0 1%;
}

#social-icons a {
	background-color: #30282a;
    color: #fff;
    display: inline-block;
    padding: 40px 74px;
    text-align: center;
}

#social-icons a:nth-child(n+2) {
	margin-left: 2%;
}

#contact {
	background-color: #30282a;
	font-family: 'Teko', sans-serif;
	padding: 150px;
}

#contact div {
	background-color: #f63c3c;
    color: #fff;
    margin: 0 auto;
    padding: 45px 25px;
    text-align: center;
    width: 35%;
}

#contact i {
	margin: 1% 0;
}

#contact address {
	font-size: 14px;
}

#contact span {
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1px;
	margin: 2% 0 1%;
}

#contact a {
	color: #fff;
}

footer {
	font-family: 'Teko', sans-serif;
	margin: 0 auto;
	padding: 0 0 3%;
	width: 65%;
}

.col-25 {
	float: left;
	margin: 3%;
	width: 20%;
}

.col-50 {
	float: left;
	margin: 3% 0;
	width: 45%;
}

#footer h3 {
	margin-left: 0;
}

#footer div hr {
	border: 3px solid #000;
}

#footer hr {
	border: 1px solid #000;
	clear: left;
	margin-top:25px;
}

.col-50 ul {
	float: left;
	width: 50%;
}

#footer div:last-child {
	clear: both;
}

#footer div:last-child ul {
	float: right;
}

#footer div:last-child li {
	display: inline-block;
}

#footer ul {
	font-size: 12px;
	padding-top:5px;
}

.terms li {
	padding: 0 15px;
}

#footer li {
	padding: 1% 0;
}

#footer span {
	font-size: 12px;
}